---
import Layout from "../layouts/Layout.astro";
const allPosts = (await Astro.glob("../pages/posts/*.mdx"))
  .sort((a, b) => {
    const aFileName = parseInt(a.url.split("/")[2].split("-")[0]);
    const bFileName = parseInt(b.url.split("/")[2].split("-")[0]);
    return aFileName - bFileName;
  })
  .reverse();
const pageTitle = "";
import Tags from "../components/Blog/Tags";
---

<Layout title={pageTitle}>
  <div class="flex flex-col lg:h-screen">
    <header class="flex flex-col text-center py-10 space-y-3">
      <strong class="text-4xl text-primary"><code>sh1ggy log</code></strong>
      <button onclick="location.href='/'" class="btn btn-ghost mr-auto ml-auto"
        >Back to Home</button
      >
    </header>
    <div class="flex flex-col space-y-6 mx-11">
      {
        allPosts.map((post) => (
          <div
            onclick={`window.location='${post.url}'`}
            class="card md:card-side h-min bg-container hover:scale-105 hover:cursor-pointer rounded-lg transition-all duration-500"
          >
            <figure>
              <img
                src={`/blog/${post.frontmatter.smTitle}/background.jpeg`}
                class="lg:object-fit object-cover w-screen lg:w-96 h-full blur-[1px]"
              />
            </figure>
            <div class="card-body" onclick={`location.href='${post.url}'`}>
              <h2 class="card-title">{post.frontmatter.title}</h2>
              <div class="flex gap-3">
                <Tags tags={post.frontmatter.tags} isDark/>
              </div>
              <h3>{post.frontmatter.description}</h3>
              <code>{post.frontmatter.eventDate}</code>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  main {
    background-color: theme("colors.page");
  }
</style>
