---
const { frontmatter } = Astro.props;
import Tags from "../components/Blog/Tags";
import Header from "../components/Header";
const allPosts = await Astro.glob("../pages/posts/*.mdx");
---

<!DOCTYPE html>
<html
  class="p-10 scrollbar-thin scrollbar-track-card scrollbar-thumb-container scrollbar-thumb-rounded-lg"
>
  <div class="flex mb-10">
    <a href="/blog" class="btn btn-ghost duration-500 mr-auto">Blog</a>
    <a href="/" class="btn btn-ghost duration-500">Home</a>
  </div>
  <div class="space-y-3">
    <img
      src={`/blog/${frontmatter.smTitle}/background.jpeg`}
      class="fixed left-0 right-0 top-0 object-fill w-full h-full blur-sm opacity-[0.1] -z-10"
    />
    <div class="flex flex-col space-y-3">
      <div class="flex flex-col rounded-lg p-3">
        <a href={frontmatter.event}>
          <h1
            class="hover:text-link hover:cursor-pointer duration-500 transition-colors text-primary text-center mb-3 lg:text-5xl font-ubuntu"
          >
            {frontmatter.title}
          </h1>
        </a>
        <Tags tags={frontmatter.tags} />
        <div class="flex flex-col items-center justify-center my-3">
          <!-- <p class="rounded-lg bg-container p-3 italic">{frontmatter.description}</p> -->
          <code class="m-3"
            ><strong>Written</strong> {frontmatter.writtenDate}</code
          >
          <a class="text-link" href={frontmatter.repo}>GitHub Repo</a>
        </div>
      </div>
      <code class="text-right ml-auto"
        ><strong>Participated</strong> {frontmatter.eventDate}</code
      >
    </div>

    <slot />
    <!-- <div class="flex mb-10">
      <a href="/" class="btn btn-ghost duration-500">Home</a>
      <a href="/blog" class="btn btn-ghost duration-500 ml-auto">Blog</a>
    </div> -->
  </div>
  <style is:global>
    body {
      font-size: 1rem;
      margin: 1rem;
    }
    h2 {
      font-size: 1.75rem !important;
      font-weight: 700 !important;
      margin-top: 1.5rem !important;
      margin-bottom: 1.5rem !important;
    }
    h3 {
      font-size: 1.5rem !important;
      font-weight: 500 !important;
      margin-top: 1.25rem !important;
      margin-bottom: 1.25rem !important;
    }
    h4 {
      font-size: 1.25rem !important;
      font-weight: 400 !important;
    }
    h5 {
      font-size: 1rem !important;
      font-weight: 300 !important;
    }
    img {
      margin-left: auto;
      margin-right: auto;
    }
  </style>


</html>
